@mixin flex ($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

#weather-container {
    border: 1px solid white;
    height: 100px;
    h4 {
        text-align: center;
    }
}