* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --- Base Styles --- */

body {
    background: linear-gradient(rgb(159, 195, 241) 10%, rgb(135, 116, 221));
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
    font-weight: lighter;
}

/* --- Header Styles --- */

header {
    min-height: 6vh;
}
h1 {
    font-size: 2em;
    margin: 20px auto 10px;
    text-align: center;
}
#nav-symbol {
    cursor: pointer;
    margin-top: 12px;
    padding: 2px;
    position: absolute;
    left: 88%;
    top: 0%;
}
.line {
    background-color: white;
    height: 3px;
    margin: 5px;
    width: 24px;
}
#saved-locations {
    background-image: radial-gradient(rgb(78, 157, 226), rgb(2,117,216));
    border-top-left-radius: 5px;
    list-style: none;
    height: 88vh;
    padding: 10px;
    position: absolute;
    top: 12vh;
    transition: right 1000ms ease-in-out;
    width: 200px;
}
.slide-right {
    right: 0;

}
.slide-left {
    right: -200px;
}
#saved-locations div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
}
#saved-locations li,
.fa-times {
    cursor: pointer;
}

/* --- Form Styles --- */

form {
    margin: 10px auto 20px;
    width: 90%;
}
label {
    display: block;
    font-size: 1em;
    margin: 5px;
}
input {
    border-radius: 5px;
    border: none;
    padding: 10px 5px;
    margin-left: 5px;
    margin-right: 3px;
}
button {
    background-image: radial-gradient(rgb(78, 157, 226), rgb(2,117,216));
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 0.9em;
    margin-right: 8px;
    padding: 10px;
}
#save-btn {
    background-image: radial-gradient(rgb(118, 236, 118), rgb(52, 196, 52));
    padding: 10px 12px;
}

/* --- Weather Results Container --- */

#date {
    font-size: 1.2em;
    margin: 10px auto;
    width: 90%;
}
#results-container {
    min-height: calc(100vh - 190px); 
}
#results-container h3 {
    font-size: 1.2em;
    margin: 10px auto;
    width: 90%;
}

/* --- Conditions Container --- */

#conditions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px auto 20px;
    padding: 10px;
    width: 90%;
}
.column {
    opacity: 0;
    text-align: center;
}
.column:first-child p {
    text-align: left;
    padding: 5px;
    margin-left: 5px;
}
#city {
    font-size: 3em;
    padding: 10px;
}
#temperature {
    font-size: 3.4em;
    margin-left: 20px;
    margin-bottom: 12px;
}
i {
    display: inline-block;
}

/* --- Forecast Container --- */

#forecast-card-container {
    display: flex;
    flex-direction: column;
    margin: 5px auto 20px;
    width: 90%;
}
#forecast-heading {
    opacity: 0;
}
.forecast-card {
    background-image: radial-gradient(rgb(78, 157, 226), rgb(2,117,216));
    border-radius: 5px;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    margin: 5px auto;
    padding: 0.4rem;
    opacity: 0;
    width: 100%;
}
.forecast-card h4 {
    margin: auto;
    width: 20%;
}
.card-icon {
    display: none;
}
.forecast-card p {
    margin: auto;
    text-align: center;
}
.card-humidity {
    font-weight: lighter;
}

/* --- Media Queries --- */

@media (min-width: 400px) {
    #saved-locations {
        width: 40%;
    }
}
@media (min-width: 568px) {
    .forecast-card {
        font-size: 1.2em;
    }
}
@media (min-width: 768px) {
    header {
        font-size: 1.4em;
        margin: 20px auto 10px;
        text-align: center;
    }
    form {
        margin: 20px auto 30px;
        text-align: center;
        width: 90%;
    }
    #date {
        width: 80%;
    }
    label {
        display: inline-block;
    }
    #results-container {
        min-height: calc(100vh - 212px); 
    }
    #results-container h3 {
        width: 80%;
    }
    .column {
        padding: 10px;
    }
    #conditions-container {
        margin: 10px auto;
        width: 80%;
    }
    #forecast-card-container {
        flex-direction: row;
        margin: 20px auto;
        width: 90%;
    }
    .forecast-card {
        flex-direction: column;
        margin: 8px;
        padding: 10px 0;
        text-align: center;
    }
    .card-icon {
        display: inline-block;
        margin: 2px auto 5px;
    }
    .forecast-card h4,
    .forecast-card p {
        font-size: 0.8em;
        padding: 5px 0;
        width: 100%;
    }
    .forecast-card h4 {
        font-size: 0.9em;
    }
}
@media (min-width: 1024px) {
    form {
        margin: 20px auto 40px;
        width: 80%;
    }
    label {
        font-size: 1.2em;
    }
    input {
        width: 30%;
    }
    #date {
        width: 70%;
    }
    #results-container {
        min-height: calc(100vh - 226px); 
    }
    #results-container h3 {
        font-size: 1.2em;
        width: 70%;
    }
    #conditions-container {
        width: 75%;
    }
    #city {
        font-size: 3em;
    }
    #humidity,
    #wind-speed,
    #UV-index {
        font-size: 1.1em;
    }
    #forecast-card-container {
        font-size: 1.1em;
        margin: 10px auto 20px;
        padding: 20px 0;
        width: 80%;
    }
    .forecast-card h4 {
        font-size: 1em;
    }
}
@media (min-width: 1200px) {
    #date {
        width: 60%;
    }
    #results-container h3 {
        width: 60%;
    }
    #conditions-container {
        width: 60%;
    }
    #forecast-card-container {
        padding: 10px;
        width: 70%;
    }
}