// ---- Import Sass Variables --- //
@import "./sassVars";

#dashboard {
    background: linear-gradient($lightPurple 10%, $darkPurple);
    background-repeat: no-repeat;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
    overflow: hidden;
    height: 100vh;
    @import "./Header/headerstyles";
    @import "./Nav/navstyles";
    @import "./SearchBar/searchstyles";
    @import "./Main/mainstyles";
}

// --- Media Queries --- //
@media (min-width: 480px) and (hover: none) {
    #dashboard {
        overflow-y: auto;
    }
}