// ---- Import Sass Variables --- //
@import "../../sassVars";

#forecast-container {
    @include flex(column, space-evenly);
    margin: 2% auto 0px;
    width: 90%;
    .card {
        @include flex(row, space-evenly);
        background: radial-gradient($lightBlue, $darkBlue);
        border-radius: $rounded;
        box-shadow: -2px 2px 6px $shadow;
        margin: 2% 0;
        min-height: 34px;
        p {
            align-self: center;
            font-size: 0.9em;
            width: 25%;
        }
        i {
            align-self: center;
            font-size: 1.2em;
            padding: 6px;
        }
        .temp {
            text-align: center;
        }
    }
}

// --- Media Queries --- //
@media (min-width: 568px) {
    #forecast-container {
        @include flex(row, space-evenly);
        margin: 16px auto;
        width: 90%;
        .card {
            @include flex(column, center);
            height: 140px;
            max-width: 115px;
            width: 18%;
            p {
                font-size: 1em;
                margin: 5px;
                text-align: center;
                width: 100%;
            }
            i {
                font-size: 1.3em;
                padding: 6px;
            }
        }
    }
}

@media (min-width: 736px) and (orientation: landscape) {
    #forecast-container {
        width: 85%;
        .card {
            i {
                padding: 6px;
                font-size: 1.7em;
            }
        }
    }
}

@media (min-height: 600px) and (hover: none) {
    #forecast-container {
        margin: 4% auto;
    }
}

@media (min-height: 700px) and (hover: none) {
    #forecast-container {
        margin: 8% auto;
        .card {
            padding: 5px 0;
            p {
                font-size: 1.1em;
            }
            i {
                font-size: 1.3em;
            }
        }
    }
}

@media (min-height: 800px) and (hover: none) {
    #forecast-container {
        margin: 10% auto;
    }
}

@media (min-width: 768px) {
    #forecast-container {
        width: 80%;
        .card {
            i {
                font-size: 1.5em;
            }
        }
    }
}

@media (min-width: 1024px) {
    #forecast-container {
        width: 74%;
    }
}

@media (min-width: 1024px) and (hover: none) {
    #forecast-container {
        margin: 5% auto 1%;
        width: 76%;
    }
}