@mixin flex ($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

#forecast-container {
    @include flex(column, space-evenly);
    // border: 1px solid white;
    margin: 40px auto;
    width: 90%;
    .card {
        @include flex(row, space-evenly);
        background: radial-gradient(rgb(78, 157, 226), rgb(2,117,216));
        border-radius: 5px;
        margin: 8px;
        padding: 4px;
        text-align: center;
        p {
            align-self: center;
            margin: 3px;
            width: 25%;
        }
        i {
            align-self: center;
            font-size: 1.6em;
            padding: 10px;
        }
        #day {
            font-size: 1em;
        }
        #temp {
            font-size: 1.1em;
        }
    }
}

@media (min-width: 568px) {
    #forecast-container {
        @include flex(row, space-evenly);
        margin: 40px auto;
        width: 90%;
        .card {
            @include flex(column, space-evenly);
            padding: 8px;
            text-align: center;
            width: 16%;
            p {
                margin: 5px;
                width: 100%;
            }
            i {
                padding: 10px;
            }
            #day {
                font-size: 1.1em;
            }
            #temp {
                font-size: 1.3em;
            }
        }
    }
}