@mixin flex ($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

#forecast-container {
    @include flex(column, space-evenly);
    margin: 10px auto;
    width: 90%;
    .card {
        @include flex(row, space-evenly);
        background: radial-gradient(rgb(78, 157, 226), rgb(2,117,216));
        border-radius: 5px;
        margin: 5px 0px;
        text-align: center;
        p {
            align-self: center;
            margin: 2px 5px;
            width: 25%;
        }
        i {
            align-self: center;
            font-size: 1.3em;
            padding: 8px;
        }
        #day {
            font-size: 1em;
        }
        #temp {
            font-size: 1.1em;
        }
    }
}

@media (min-width: 360px) and (min-height: 640px) {
    #forecast-container {
        margin: 15px auto;
        .card {
            margin: 6px 0px;
            i {
                font-size: 1.6em;
            }
        }
    }
}

@media (min-width: 360px) and (min-height: 740px) {
    #forecast-container {
        margin: 22px auto;
        .card {
            i {
                font-size: 1.7em;
                padding: 10px;
            }
            #day {
                font-size: 1.1em;
            }
            #temp {
                font-size: 1.2em;
            }
        }
    }
}

@media (min-width: 375px) and (min-height: 667px) {
    #forecast-container {
        margin: 18px auto;
    }
}

@media (min-width: 375px) and (min-height: 812px) {
    #forecast-container {
        margin: 28px auto;
        .card {
            margin: 8px 0px;
            i {
                font-size: 1.8em;
                padding: 10px;
            }
            #day {
                font-size: 1.2em;
            }
            #temp {
                font-size: 1.3em;
            }
        }
    }
}

@media (min-width: 411px) and (min-height: 731px) {
    #forecast-container {
        margin: 28px auto;
        .card {
            #day {
                font-size: 1.1em;
            }
            #temp {
                font-size: 1.2em;
            }
        }
    }
}

@media (min-width: 568px) {
    #forecast-container {
        @include flex(row, space-evenly);
        margin: 16px auto;
        width: 86%;
        .card {
            @include flex(column, space-evenly);
            padding: 6px;
            width: 16%;
            p {
                margin: 5px;
                width: 100%;
            }
            i {
                font-size: 2em;
                padding: 6px;
            }
            #day {
                font-size: 0.9em;
            }
            #temp {
                font-size: 0.8em;
                font-weight: 300;
            }
        }
    }
}

@media (min-width: 667px) {
    #forecast-container {
        margin: 20px auto;
        width: 82%;
    }
}

@media (min-width: 768px) {
    #forecast-container {
        margin: 30px auto;
        width: 86%;
        .card {
            padding: 8px;
            width: 16%;
            p {
                margin: 5px;
                width: 100%;
            }
            i {
                font-size: 2.2em;
                padding: 10px;
            }
            #day {
                font-size: 1.2em;
            }
            #temp {
                font-size: 1.2em;
            }
        }
    }
}

@media (min-width: 1024px) and (min-height: 768px) {
    #forecast-container {
        margin: 20px auto;
        width: 76%;
        .card {
            padding: 8px;
            text-align: center;
            width: 16%;
            i {
                font-size: 2em;
            }
            #temp {
                font-size: 1.3em;
            }
        }
    }
}