* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

@mixin flex ($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

#header {
    height: 55px;
    // width: 50%;
    #date {
        display: inline-block;
        padding: 20px 5px 20px 25px;
    }
}