* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

@mixin flex ($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

#weather-container {
    margin: 1% auto;
    width: 90%;
    #weather-data {
        @include flex (row, space-evenly);
        .col {
            margin: 0px 8px;
            max-width: 62%;
            h4 {
                font-size: 1.6em;
                font-weight: 300;
                margin-bottom: 12px;
            }
            h4, p {
                margin: 5px 2px;
            }
            p {
                font-size: 0.9em;
            }
            #temp {
                font-size: 1.8em;
                font-weight: 300;
                text-align: center;
            }
            i {
                font-size: 3.4em;
                margin-top: 8px;
                text-align: center;
            }
        }
    }
}

@media (min-height: 600px) {
    #weather-container {
        margin: 1% auto;
        width: 90%;
        #weather-data {
            @include flex (row, space-evenly);
            .col {
                margin: 0px 8px;
                max-width: 50%;
                h4 {
                    font-size: 1.8em;
                    font-weight: 300;
                    margin-bottom: 12px;
                }
                h4, p {
                    margin: 8px 2px;
                }
                p {
                    font-size: 1em;
                }
                #temp {
                    font-size: 2em;
                    font-weight: 300;
                    text-align: center;
                }
                i {
                    font-size: 3.6em;
                    margin-top: 8px;
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 568px) and (orientation: landscape) {
    #weather-container {
        #weather-data {
            .col {
                max-width: 80%;
            }
        }
    }
}

@media (min-width: 640px) and (orientation: landscape) {
    #weather-container {
        margin: 4.5% auto;
    }
}

@media (min-height: 700px) and (hover: hover) {
    #weather-container {
        margin: 5% auto;
        #weather-data {
            .col {
                h4 {
                    font-size: 2em;
                }
            }
        }
    }
}

@media (min-height: 700px) and (hover: none) {  
    #weather-container {
        margin: 6% auto;
    }
}

@media (min-width: 731px) and (orientation: landscape) {
    #weather-container {
        margin: 5.5% auto;
        #weather-data {
            .col {
                h4 {
                    font-size: 2em;
                }
            }
        }
    }
}

// @media (min-width: 768px) and (min-height: 480px) {
//     #weather-container {
//         margin: 8% auto;
//         #weather-data {
//             .col {
//                 h4 {
//                     font-size: 2.9em;
//                 }
//                 p {
//                     font-size: 1.3em;
//                 }
//                 #temp {
//                     font-size: 2.6em;
//                 }
//                 i {
//                     font-size: 4.1em;
//                     margin-top: 16px;
//                 }
//             }
//         }
//     }
// }

@media (min-height: 800px) and (hover: none) {
    #weather-container {
        margin: 10% auto;
    }
}

@media (min-width: 812px) and (orientation: landscape) {
    #weather-container {
        margin: 2.5% auto;
    }
}

@media (min-width: 823px) and (orientation: landscape) and (hover: none) {
    #weather-container {
        margin: 5% auto;
    }
}

@media (min-width: 1024px) {
    #weather-container {
        margin: 1% auto;
    }
}

@media (min-width: 1024px) and (hover: none) {
    #weather-container {
        margin: 6% auto;
    }
}