// ---- Import Sass Variables --- //
@import "../sassVars";

nav {
    #nav-bar {
        @include flex (row, flex-end);
        height: 60px;
        margin-left: 50vw;
        position: absolute;
        top: -60px;
        width: 50vw;
        z-index: 1;
        #nav-icon {
            align-self: center;
            cursor: pointer;
            padding: 12px;
            z-index: 1;
            .line {
                background: white;
                border-radius: $rounded;
                height: 2px;
                margin: 6px;
                transition: all 800ms ease-in-out;
                width: 30px;
            }
            .toggle1 {
                transform: rotate(-45deg) translate(-5px, 6px);
            }
            .toggle2 {
                opacity: 0;
            }
            .toggle3 {
                transform: rotate(45deg) translate(-5px, -6px);
            }
        }
        #btn-container {
            align-self: center;
            button {
                background: radial-gradient($lightBlue, $darkBlue);
                border: none;
                border-radius: $rounded;
                color: white;
                cursor: pointer;
                font-size: 0.6em;
                margin: 0 2px;
                padding: 0.8em;
                &:focus {
                    outline: none;
                }
            }
            #location-btn {
                background: radial-gradient($lightPurple, $darkPurple);
                padding: 0.8em 0.9em;
            }
            #save-btn {
                background: radial-gradient($lightGreen, $darkGreen);
                padding: 0.8em 0.9em;
            }
        }
    }
    #nav-slider {
        background: radial-gradient($lightBlue, $darkBlue);
        height: calc(100vh - 60px);
        margin-left: 0;
        max-width: 480px;
        overflow-y: auto;
        position: absolute;
        transition: all 800ms ease-in-out;
        width: 100vw;
        z-index: 2;
        #saved-list {
            li {
                @include flex (row, space-between);
                box-shadow: 0px 8px 6px -6px $shadow;
                cursor: pointer;
                overflow-x: auto;
                p, i {
                    min-width: 20%;
                    padding: 16px 5px;
                    text-align: center;
                }
                p {
                    font-size: 1.2em;
                }
                i {
                    font-size: 1.8em;
                }
                .city {
                    min-width: 60%;
                    padding: 16px 5px 16px 14px;
                    text-align: left;
                }
                .delete-icon {
                    background: $deleteRed;
                    text-align: center;
                    width: 20%;
                }
            }
            .show {
                display: block;
            }
            .hide {
                display: none;
            }
        }  
    }
}



// --- Animation Classes --- //
.slide-in {
    left: 0;
}
.slide-out {
    left: 100vw;
}

// --- Media Queries --- //
@media screen and (hover: hover) {
    nav {
        #nav-slider {
            #saved-list {
                li {
                    p, i {
                        min-width: 14%;
                    }
                    .city {
                        min-width: 60%
                    }
                    .delete-icon {
                        background: rgba(0, 0, 0, 0);
                        font-size: 1.5em;
                        padding: 18px 10px;
                        min-width: 12%;
                        &:hover {
                            color: $deleteRed;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 375px) {
    nav {
        #nav-bar {
            #btn-container {
                button {
                    margin: 0 5px;
                    padding: 0.9em;
                }
                #location-btn {
                    padding: 0.9em 1em;
                }
                #save-btn {
                    padding: 0.9em 1em;
                }
            }
        }
    }
}

@media (orientation: landscape) {
    nav {
        #nav-slider {
            min-height: 450px;
        }
    }
}

@media (min-width: 480px) {
    nav {
        #nav-slider {
            border-radius: 5px 0 0 0; 
        }
        .slide-in {
            left: calc(100vw - 480px);
        }
    }
}