* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

nav #nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 60px;
  margin-left: 50vw;
  position: absolute;
  top: -60px;
  width: 50vw;
}

nav #nav-bar #nav-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  padding: 12px;
  z-index: 3;
}

nav #nav-bar #nav-icon .line {
  background: white;
  border-radius: 5px;
  height: 2px;
  margin: 6px;
  -webkit-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  width: 30px;
}

nav #nav-bar #nav-icon .toggle1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

nav #nav-bar #nav-icon .toggle2 {
  opacity: 0;
}

nav #nav-bar #nav-icon .toggle3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

nav #nav-bar #btn-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav #nav-bar #btn-container button {
  background: radial-gradient(#4e9de2, #0275d8);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 0.6em;
  margin: 0 5px;
  padding: 0.9em;
}

nav #nav-bar #btn-container button:focus {
  outline: none;
}

nav #nav-bar #btn-container #save-btn {
  background: radial-gradient(#76ec76, #34c434);
  padding: 0.9em 1em;
}

nav #nav-slider {
  background: radial-gradient(#4e9de2, #0275d8);
  height: calc(100vh - 60px);
  margin-left: 0;
  max-width: 480px;
  overflow-y: auto;
  position: absolute;
  -webkit-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  width: 100vw;
  z-index: 2;
}

nav #nav-slider #saved-list {
  list-style: none;
}

nav #nav-slider #saved-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 20px 10px;
}

nav #nav-slider #saved-list li p, nav #nav-slider #saved-list li i {
  text-align: center;
  min-width: 15%;
}

nav #nav-slider #saved-list li p {
  font-size: 1.2em;
}

nav #nav-slider #saved-list li i {
  font-size: 1.8em;
}

nav #nav-slider #saved-list li .city {
  text-align: left;
  min-width: 50%;
}

.slide-in {
  left: 0;
}

.slide-out {
  left: 100vw;
}

@media (orientation: landscape) {
  nav #nav-slider {
    min-height: 450px;
  }
}

@media (min-width: 480px) {
  nav #nav-slider {
    border-radius: 5px 0 0 0;
  }
  nav #nav-slider #saved-list li {
    padding: 16px 30px;
  }
  nav #nav-slider #saved-list li p {
    font-size: 1.2em;
  }
  nav #nav-slider #saved-list li i {
    font-size: 1.8em;
  }
  nav .slide-in {
    left: calc(100vw - 480px);
  }
}
/*# sourceMappingURL=navstyles.css.map */