// ---- Import Sass Variables --- //
@import "../sassVars";

#search-bar {
    box-shadow: 0px 5px 5px $shadow;
    form {
        @include flex (row, center);
        padding: 10px 0px;
        label {
            align-self: center;
            font-size: 0.8em;
            margin-right: 10px;
        }
        input {
            border-radius: $rounded 0 0 $rounded;
            border: none;
            padding: 8px 5px;
            margin: 0;
            max-width: 250px;
            width: 50vw;
            &:focus {
                outline: none;
            }
        }
        button {
            background: white;
            border: none;
            border-radius: 0 $rounded $rounded 0;
            cursor: pointer;
            padding: 0px 6px;
        }
    }
}

// --- Animation Classes --- //
.slide-down {
    height: 53px;
    opacity: 1;
    transition: height 400ms ease-in-out, opacity 800ms ease-in-out;
}
.slide-up {
    height: 0px;
    opacity: 0;
    transition: height 400ms ease-in-out, opacity 200ms ease-in-out;
}
.show {
    display: inline-block;
}
.hide {
    display: none;
}

// --- Media Queries --- //
@media (min-width: 768px) {
    #search-bar {
        form {
            label {
                font-size: 1em;
            }
        }
    }
}

@media (min-width: 1024px) {
    #search-bar {
        form {
            label {
                font-size: 1.1em;
            }
        }
    }
}