* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

@mixin flex ($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

#search-bar {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    form {
        @include flex (row, center);
        padding: 10px 0px;
        label {
            align-self: center;
            font-size: 0.8em;
            margin-right: 10px;
        }
        input {
            border-radius: 5px 0 0 5px;
            border: none;
            padding: 8px 5px;
            margin: 0;
            max-width: 250px;
            width: 50vw;
            &:focus {
                outline: none;
            }
        }
        button {
            background: white;
            border: none;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            padding: 0px 6px;
        }
    }
}

.slide-down {
    height: 53px;
    opacity: 1;
    transition: height 400ms ease-in-out, opacity 800ms ease-in-out;
}
.slide-up {
    height: 0px;
    opacity: 0;
    transition: height 400ms ease-in-out, opacity 200ms ease-in-out;
}
.show {
    display: inline-block;
}
.hide {
    display: none;
}

@media (min-width: 768px) {
    #search-bar {
        form {
            label {
                font-size: 1em;
            }
        }
    }
}

@media (min-width: 1024px) {
    #search-bar {
        form {
            label {
                font-size: 1.1em;
            }
        }
    }
}