* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

#main {
    max-height: 600px;
    transition: opacity 400ms ease-in-out; 
}

.veil {
    opacity: 0.4;
    transition: opacity 600ms ease-in-out;
}

// @media (min-height: 480px) {
//     #main {
//         overflow: hidden;
//     }
// }