@mixin flex ($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

#search-bar {
    @include flex (row, center);
    // border: 1px solid white;
    height: 100px;
    form {
        align-self: center;
        label {
            font-size: 1em;
            margin: 5px;
        }
        input {
            border-radius: 5px;
            border: none;
            padding: 10px 5px;
            margin: 0 8px 0 5px;
            width: 200px;
        }
        button {
            background: radial-gradient(rgb(78, 157, 226), rgb(2,117,216));
            border-radius: 5px;
            color: white;
            cursor: pointer;
            border: none;
            font-size: 0.9em;
            margin-right: 8px;
            padding: 10px;
        }
        #save-btn {
            background-image: radial-gradient(rgb(118, 236, 118), rgb(52, 196, 52));
            padding: 10px 12px;
        }
    }
}